importing zip

In [1]:
#import libraries
import numpy as np
import pandas as pd
import zipfile
from pathlib import Path

In [2]:
#Unzip file
with zipfile.ZipFile('MeteomaticsRealHorario.zip', 'r') as zip_ref: 
        zip_ref.extractall("./Meteomatics/")

In [6]:
#importing CSV into Dataframe
path = r'./Meteomatics/'  # path

# Get the files from the path provided 
files = Path(path).glob('*.csv')  # .rglob to get subdirectories
dfs = list()
for f in files:
    data = pd.read_csv(f)
    # .stem is method for pathlib objects to get the filename w/o the extension
    data['file'] = f.stem
    dfs.append(data)

print(files)
dfs = pd.concat(dfs, ignore_index=True)

<generator object Path.glob at 0x7faaa8fe3f90>

In [8]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1124257 entries, 0 to 1124256
Data columns (total 14 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Gerencia              1124257 non-null  object
 1   Zona_Carga            1124257 non-null  object
 2   Estacion              1124257 non-null  object
 3   API                   1124257 non-null  object
 4   Fecha                 1124257 non-null  object
 5   Hora                  1124257 non-null  int64
 6   Temperatura           1124257 non-null  float64
 7   Temperatura_Aparente  1124257 non-null  float64
 8   Precipitacion         1124257 non-null  float64
 9   Humedad               1124257 non-null  float64
 10  Velocidad_Viento      1124257 non-null  float64
 11  Radiacion_Solar       1124257 non-null  float64
 12  Nubosidad             1124257 non-null  float64
 13  file                  1124257 non-null  object
dtypes: float64(7), int64(1), object(6)
memory usage: 120.1+ MB

In [7]:
#Create dataframe for sonora only
dfs_son =dfs.drop(dfs[dfs.Zona_Carga.isin(["Guasave", "Culiacan","Los Mochis","Mazatlan"])].index)
dfs_son.head()

,Gerencia,Zona_Carga,Estacion,API,Fecha,Hora,Temperatura,Temperatura_Aparente,Precipitacion,Humedad,Velocidad_Viento,Radiacion_Solar,Nubosidad,file
0,GCRNO,Obregon,Obregon PPA,Meteomatics,01/01/2010,0,14.7,13.7,0.0,58.9,2.9,0.0,0.0,OBREGON_REAL_HORARIO_20221031
1,GCRNO,Obregon,Obregon PPA,Meteomatics,01/01/2010,1,14.3,13.6,0.0,61.5,2.6,0.0,0.0,OBREGON_REAL_HORARIO_20221031
2,GCRNO,Obregon,Obregon PPA,Meteomatics,01/01/2010,2,12.5,12.1,0.0,64.8,2.5,0.0,0.0,OBREGON_REAL_HORARIO_20221031
3,GCRNO,Obregon,Obregon PPA,Meteomatics,01/01/2010,3,12.1,11.8,0.0,68.8,2.3,0.0,0.0,OBREGON_REAL_HORARIO_20221031
4,GCRNO,Obregon,Obregon PPA,Meteomatics,01/01/2010,4,10.4,10.4,0.0,73.0,2.1,0.0,0.0,OBREGON_REAL_HORARIO_20221031

In [9]:
dfs_son['file'].unique()

array(['OBREGON_REAL_HORARIO_20221031', 'GUAYMAS_REAL_HORARIO_20221031',
       'CABORCA_REAL_HORARIO 20221031', 'NOGALES_REAL_HORARIO_20221031',
       'NAVOJOA_REAL_HORARIO_20221031',
       'HERMOSILLO_REAL_HORARIO_20221031'], dtype=object)

In [10]:
#send combined dataframe to file
dfs_son.to_csv (r'real_met.csv', index = False)