In [1]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
#exploring available files 01
df_demanda = pd.read_csv('DemandaGCRNO20221031.csv', delimiter=",")
df_demanda.shape

(5783, 25)

In [12]:
df_demanda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5783 entries, 0 to 5782
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   FECHA   5783 non-null   object
 1   H1      5783 non-null   float64
 2   H2      5783 non-null   float64
 3   H3      5783 non-null   float64
 4   H4      5783 non-null   float64
 5   H5      5783 non-null   float64
 6   H6      5783 non-null   float64
 7   H7      5783 non-null   float64
 8   H8      5783 non-null   float64
 9   H9      5783 non-null   float64
 10  H10     5783 non-null   float64
 11  H11     5783 non-null   float64
 12  H12     5783 non-null   float64
 13  H13     5783 non-null   float64
 14  H14     5783 non-null   float64
 15  H15     5783 non-null   float64
 16  H16     5783 non-null   float64
 17  H17     5783 non-null   float64
 18  H18     5783 non-null   float64
 19  H19     5783 non-null   float64
 20  H20     5783 non-null   float64
 21  H21     5783 non-null   float64
 22  H22     5783 non-null   float64
 23  H23     5783 non-null   float64
 24  H24     5783 non-null   float64
dtypes: float64(24), object(1)
memory usage: 1.1+ MB

In [14]:
#exploring available files 02
df_pronostico = pd.read_csv('PRONOSTICO_DIARIO_Weather_Underground.csv', delimiter=",")
df_pronostico.shape

(1355, 15)

In [16]:
df_pronostico.tail()

,FECHA,TMAX-CAB,TMAX-HMO,TMAX-OBR,TMAX-LMO,TMAX-CUL,TMIN-CAB,TMIN-HMO,TMIN-OBR,TMIN-LMO,TMIN-CUL,PREC_HMO (mm),PREC_OBR (mm),PREC_LMO (mm),PREC_CUL (mm)
1350,30/10/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1351,31/10/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1352,01/11/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1353,02/11/2022,28.0,30.0,32.0,31.0,34.0,14.0,14.0,17.0,17.0,16.0,0.0,0.0,0.0,0.0
1354,03/11/2022,20.0,25.0,29.0,30.0,34.0,13.0,15.0,19.0,18.0,16.0,0.0,0.0,0.0,0.0

In [18]:
df_pronostico.columns

Index(['FECHA', 'TMAX-CAB', 'TMAX-HMO', 'TMAX-OBR', 'TMAX-LMO', 'TMAX-CUL',
       'TMIN-CAB', 'TMIN-HMO', 'TMIN-OBR', 'TMIN-LMO', 'TMIN-CUL',
       'PREC_HMO   (mm)', 'PREC_OBR   (mm)', 'PREC_LMO   (mm)',
       'PREC_CUL   (mm)'],
      dtype='object')

In [19]:
#exploring available files 03
df_real = pd.read_csv('REAL_DIARIO_CONAGUA 20221031.csv', delimiter=",")
df_real.shape

(5783, 15)

In [21]:
df_real.tail()

,FECHA,TMAX-CAB,TMAX-HMO,TMAX-OBR,TMAX-LMO,TMAX-CUL,TMIN-CAB,TMIN-HMO,TMIN-OBR,TMIN-LMO,TMIN-CUL,PREC_HMO (mm),PREC_OBR (mm),PREC_LMO (mm),PREC_CUL (mm)
5778,27/10/2022,28.2,30.0,32.5,33.0,33.0,11.0,15.0,13.5,20.0,20.0,0.0,0.0,0.0,0.0
5779,28/10/2022,29.8,33.5,34.0,32.0,33.0,9.4,13.0,14.0,20.0,15.0,0.0,0.0,0.0,0.0
5780,29/10/2022,29.0,32.0,33.0,33.0,32.0,9.2,12.0,16.0,19.0,14.0,0.0,0.0,0.0,0.0
5781,30/10/2022,30.0,33.0,33.0,34.0,32.5,15.0,11.5,13.5,19.0,19.0,0.0,0.0,0.0,0.0
5782,31/10/2022,29.0,31.5,31.5,33.0,32.0,15.0,16.0,14.0,19.5,20.0,0.0,0.0,0.0,0.0